@use "variables" as v;

.query_content,
.answer_content {
  flex-wrap: nowrap;
  align-items: center;
  transition: max-height 0.3s ease;
  .query_icon,
  .answer_icon {
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    @include v.mq() {
      font-size: 1.25rem;
      width: 2rem;
      height: 2rem;
    }
  }
  .query_icon {
    background-color: #0071bc;
  }
  .answer_icon {
    background-color: #ff5050ff;
    border-radius: 0.5rem;
  }
  .query_text,
  .answer_text {
    align-items: center;
    line-height: 150%;
    width: calc(100% - 3rem);
    height: auto;
    padding: 1rem;
    padding-right: 0;
    @include v.mq() {
      width: calc(100% - 2rem);
      padding: 0.5rem 1rem;
      padding-right: 0;
    }
  }
  .query_text {
    font-size: 1.25rem;
    @include v.mq() {
      font-size: 1rem;
    }
  }
  .answer_text {
    font-size: 1rem;
  }
  .cite_button {
    font-weight: bold;
    background: none;
    border: none;
    color: #00838f;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: #0071bc;
      text-decoration: underline;
    }
  }
}
.query_content {
  cursor: pointer;
}
.answer_content {
  height: 0;
  overflow: hidden;
}
