@use 'variables' as v;

.header {
  background-color: #0090ac;
  height: 60px;
  padding: 0 40px;

  @include v.mq(sm) {
    height: 40px;
    padding: 0 20px;
  }
}

.header_contents {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content:space-between;
}

.header_title {
  color: white;
  font-size: 24px;
  margin: auto 0;
  text-decoration: none;
  
  @include v.mq(sm) {
    font-size: 18px;
  }

  &:hover {
    color: white;
    text-decoration: underline;
  }
}
