@use "variables" as v;

.top_content {
  width: 100%;
  background-color: #333333;
  color: white;
  justify-content: center;
  padding: 60px;
  .top_title {
    width: 100%;
    font-size: 2.5rem;
  }
  .top_description {
    width: 100%;
    font-size: 1.25rem;
  }
  .top_button {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    color: white;
    background-color: #00838f;
    transition: all ease 0.3s;
    text-decoration: none;
    &:hover {
      background-color: #0071bc;
    }
  }
}
